.venv
poetry.lock
docker-compose.yaml

__pycache__

main.py 
postgres_data
redis_data
proto

.mypy_cache
.ruff_cache
.pytest_cache
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production